body {
  font-family: "Hind", sans-serif;
  box-sizing: border-box;
  background-color: #111;
}
.Container {
  background: transparent;
  height: 100vh;
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
}
.video_Container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.header {
  background-color: #111;
  position: relative;
  padding-top: 56.25%;
}
.header__container-heading {
  font-size: 2.8rem;
  position: absolute;
  color: #fff;
  top: 12rem;
  left: 3.5rem;
}
.header__container-overview {
  top: 28rem;
  left: 4rem;
  position: absolute;
  color: #fff;
  width: 55rem;
  line-height: 1.3;
  padding-top: 2.5rem;
  font-size: 1.4rem;
}
@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
